@model IEnumerable<Category>
    <div class="mdl-cell--12-col">
        <ul class="mdl-list mdl-shadow--2dp">
            <li class="mdl-list__item">
                <a class="mdl-button mdl-button--colored mdl-color-text--grey-700 mdl-js-button mdl-js-ripple-effect"
                   asp-action="Index"
                   asp-controller="Product"
                   asp-route-category="">All clothes</a>
                @foreach (var category in Model)
                {
                <li class="mdl-list__item">
                    @await Component.InvokeAsync("Categories", category.Name)
                </li>
                }
            </ul>
    </div>