@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="mdl-cell">
    <div class="mdl-card--border mdl-shadow--2dp mdl-color--grey-400 mdl-color-text--grey-200">
        <div class="mdl-card__title mdl-color-text--grey-200">
            <h2 class="mdl-card__title-text">Privacy</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-200">
            Hello!
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Ok
            </a>
        </div>
    </div>
</div>
