
    <div class="mdl-cell mdl-cell--6-col mdl-cell--middle mdl-card
				mdl-shadow--6dp mdl-color--grey-100">
        <div class="mdl-card__supporting-text">
            <h1>Your order is completed</h1>
            <h4 class="text-center">Thank you!</h4>
        </div>
    </div>